*{
    margin: 0;
    padding: 0;
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  
}
header{
    display: flex;
    justify-content: space-between;
    padding-right: 140px;
    padding-left: 140px;
    padding-top: 24px;
    padding-bottom: 24px;
}
header button{
    color:rgb(0, 106,80,100%);
    background-color: transparent;
    border: 1px solid rgb(0, 106,80,100%);
    padding:15px 30px ;
    border-radius: 8px;
}
header button:hover{
    background-color: brown;
    color: aqua;
    border-color: brown;
}


/* benner section  */

.benner{
    display: flex;
    justify-content: space-between;
    padding:100px 80px;
    margin-left: 140px;
    margin-right: 140px;
    gap: 10px;
    background-color: rgb(198, 228, 214,100%);
    border-radius: 22px;
}

.benner .text-one{
    font-size: 24px;
    color: rgb(14,14,14,50%);
}
.benner .text-two{
    font-size:44px;
    margin-bottom: 21px;
    padding-top: 15px;
    
 
}
.mega-btn button{
    padding:17px 34px;
    background-color: rgb(0, 106,80,100%);
    color: aliceblue;
    border: none;
    border-radius: 8px;
    margin-top: 15px;
}
.mega-btn button:hover{
    color: green;
    background-color: aliceblue;
}

