*{
    margin: 0;
    padding: 0;
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;

  
}
body{
    background-color: rgb(241, 241, 243);
}
header{
    display: flex;
    justify-content: space-between;
    padding-right: 140px;
    padding-left: 140px;
    padding-top: 24px;
    padding-bottom: 24px;
}
header button{
    color:rgb(0, 106,80,100%);
    background-color: transparent;
    border: 1px solid rgb(0, 106,80,100%);
    padding:15px 30px ;
    border-radius: 8px;
}
header button:hover{
    background-color: brown;
    color: aqua;
    border-color: brown;
}


/* benner section  */

.benner{
    display: flex;
    justify-content: space-between;
    padding:100px 80px;
    margin-left: 140px;
    margin-right: 140px;
    gap: 10px;
    background-color: rgb(198, 228, 214,100%);
    border-radius: 22px;
}

.benner .text-one{
    font-size: 24px;
    color: rgb(14,14,14,50%);
    margin-top: 45px;
}
.benner .text-two{
    font-size:44px;
    margin-bottom: 21px;
    padding-top: 15px;
    
 
}
.mega-btn button{
    padding:17px 34px;
    background-color: rgb(0, 106,80,100%);
    color: aliceblue;
    border: none;
    border-radius: 8px;
    margin-top: 15px;
}
.mega-btn button:hover{
    color: green;
    background-color: aliceblue;
}









/* The Vision of Future */

.The-Vision-of-Future{
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 80px;
}
.The-Vision-of-Future h1{
    font-size: 36px;
}
.The-Vision-of-Future p{
    font-size: 15px;
    font-weight: 400;
    margin-top: 21px;
    opacity: .7;
}

.box{
    display: flex;
    justify-content: space-between;
    gap: 21px;
    margin-top: 32px;
    margin-bottom: 32px;

}
.box-1{
    background-color: rgb(84, 144, 245,20%);
    border-radius: 15px;
    height: 260px;
    width: 350px;
    padding: 32px;

}
.box-1 h1{
    font-size: 18px;
    margin-top: 21px;

}
.box-1 p{
    font-size: 15px;
    opacity: .7;

}
.box-1 button{
    font-size: 15px;
    padding: 10px 19px;
    background-color: rgb(84, 144, 245,100%);
    color: aliceblue;
    border: none;
    border-radius: 7px;
    margin-top: 28px;
}
.box-1 button:hover{
    background-color: yellowgreen;
    color: black;
}


.box-2{
    background-color: rgb(198,228,214,100%);
    border-radius: 15px;
    height: 260px;
    width: 350px;
    padding: 32px;

}
.box-2 h1{
    font-size: 18px;
    margin-top: 21px;

}
.box-2 p{
    font-size: 15px;
    opacity: .7;

}
.box-2 button{
    font-size: 15px;
    padding: 10px 19px;
    background-color: rgb(9,161,92,100%);
    color: aliceblue;
    border: none;
    border-radius: 7px;
    margin-top: 28px;
}

.box-2 button:hover{
    background-color: crimson;
    color: black;
}

.box-3{
    background-color: rgb(247,235,207,100%);
    border-radius: 15px;
    height: 260px;
    width: 350px;
    padding: 32px;

}
.box-3 h1{
    font-size: 18px;
    margin-top: 21px;

}
.box-3 p{
    font-size: 15px;
    opacity: .7;

}
.box-3 button{
    font-size: 15px;
    padding: 10px 19px;
    background-color: rgb(255, 194, 57,100%);
    color: aliceblue;
    border: none;
    border-radius: 7px;
    margin-top: 28px;
}

.box-3 button:hover{
    background-color: lightgreen;
    color: black;
}


.blockqoute p{
    font-size: 15px;
    opacity: .7;
}
.blockqoute{
    background-image:url(B11A1--assignment-1/assets/quote-bg.png);
    background-color: white;
    background-repeat:no-repeat;
    padding:24px 48px;
    border: 1px solid beige;
    background-position: 30px 30px;
    border-radius: 12px;
}
.blockqoute h1{
    font-size: 18px;
    margin-top: 21px;

}



/* Recent-news */


.Recent-news{
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 75px;
}

.Recent-news p{
    font-size: 15px;
    opacity: .7;
    font-weight: 400;
    margin-top:21px;
}
.Recent-news h1{
    font-size: 36px;
}
.Recent-news .news-1{
    display: flex;
    background-color: white;
    border-radius: 12px;
    padding: 44px;
    margin-top: 40px;
    gap: 32px;

}
.news-1 .satelite img{
    border-radius: 14px;
    height: 270px;
    width: 365px;
}
.news-1 button{
    background-color: rgb(0, 106,80,100%);
    padding: 12px 24px ;
    border: none;
    color: aliceblue;
    border-radius: 8px;
    margin-top:28px;
}

.news-1 button:hover{
    background-color: goldenrod;
    color: black;
}


.Recent-news .news-2{
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    border-radius: 12px;
    padding: 44px;
    margin-top:22px;
    gap: 32px;

}
.news-2 .satelite img{
    border-radius: 14px;
    height: 270px;
    width: 365px;
}
.news-2 button{
    background-color: rgb(0, 106,80,100%);
    padding: 12px 24px ;
    border: none;
    color: aliceblue;
    border-radius: 8px;
    margin-top:28px;
}

.news-2 button:hover{
    background-color: goldenrod;
    color: black;
}


/* donate today */

.donate h1{
    font-size: 36px;
    text-align: center;
}
.donate{
    margin-left: 140px;
    margin-right:140px;
    margin-top: 80px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.donate p{
    text-align: center;
    font-size: 15px;
    opacity: .7;
    font-weight: 400;
    margin-top: 21px
}

.amount{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 21px;
    margin-top: 30px;
}

.amount-1{
    display: flex;
    justify-content: center;
    align-items:center;
    height:108px;
    width:224px;
    background-color: white;
    border-radius: 13px;
}

.amount-1:hover{
    background-color: aquamarine;
}

.amount-2{
    display: flex;
    justify-content: center;
    align-items:center;
    height:108px;
    width:224px;
    background-color:rgb(198, 228, 214,100%);
    border-radius: 13px;
}
.amount-2:hover{
    background-color: aquamarine;
}

.amount-3{
    display: flex;
    justify-content: center;
    align-items:center;
    height:108px;
    width:224px;
    background-color: white;
    border-radius: 13px;
}

.amount-3:hover{
    background-color: aquamarine;
}

.amount-4{
    display: flex;
    justify-content: center;
    align-items:center;
    height:108px;
    width:224px;
    background-color: white;
    border-radius: 13px;
}

.amount-4:hover{
    background-color: aquamarine;
}

.donate input{
    height: 58px;
    width: 910px;
    margin-top: 30px;
    
}

.donate input::placeholder{
text-align: center;
    font-size: 18px;
}

.donate button{
    background-color: rgb(0, 106,80,100%);
    padding: 12px 24px ;
    border: none;
    color: aliceblue;
    border-radius: 8px;
    margin-top:28px;
}
.donate button:hover{
    background-color: rgb(64, 216, 18);
    color: black;
}

/* subscricb */


.subscricb{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    background-color: rgb(198,228,214,100%);
    margin-left: 140px;
    margin-right: 140px;
    border-radius: 13px;
    margin-top: 80px;
    height: 360px;
}

.subscricb p{
    font-size: 15px;
    opacity: .7;
    font-weight: 400;
    margin-top: 21px;
    text-align: center;
}

.subscricb h1{

font-size: 36px;

}
.subscricb input{
    height:48px ;
    width:460px ;
    border: none;
    border-radius: 10px;
}
.input-box button{
   padding: 16px 34px;
   margin-left: -15px;
   border: none;
   border-radius: 0px 10px 10px 0px;
   background-color:rgb(0, 106,80,100%);
   color: aliceblue;
}

.input-box button:hover{
    background-color: aquamarine;
    color: black;
}
.subscricb input::placeholder{
    padding-left: 40px ;
}
.input-box {
    margin-top: 21px;
}



footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 100px;
    height: 170px;
}
footer h1{
    width: 800px;
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(196, 194, 194);
}
footer img{
    margin-left: 15px;
}